<§prisma§># Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema
# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Example connection string for mysql, update to match your used database and database user
# DATABASE_URL=mysql://nxtstartUser:nxtstartPassword@localhost:3306/nxtstartDatabase
DATABASE_URL="file:nxtstart.db"
</§prisma§><§auth§>
AUTH_DB_URL="./auth.db"
# For github apps: https://github.com/settings/developers
GITHUB_ID=<enter github id>
GITHUB_SECRET=<enter github id>

# Update according to your deployment address (You can leave this for local development)
BETTER_AUTH_URL=http://localhost:3000

# You should replace this secret when deploying your application
BETTER_AUTH_SECRET=qwertysecretForTheN3xtJ5Template
</§auth§>